#header .logo {
	float: left;
	display: inline-block;
	width: 150px;
	height: 55px;
	background: url(images/logo.png) 5px center no-repeat;
}

#header .logo:active {
	background: url(images/overlay.png) center no-repeat,
		url(images/logo.png) 5px center no-repeat;
}

#header .menu {
	background: url(images/list.png) center no-repeat;
    width: 40px;
    height: 35px;
    position: absolute;
    top: 9px;
    left: 150px;
}

#header .userMenu {
	background: #939393;
    width: 37px;
    height: 37px;
    position: absolute;
    right: 5px;
    top: 8px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    padding: 0px !important
}
#header .menuItem {
	position: absolute;
	height: 54px;
	top: 0px;
	padding-top: 7px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

@media only screen and (max-width: 640px) { /* mobile */
	#header .menu {
		display: inline-block;
	}
	#header .menuItem {
		left: 180px;
	}
}

#header .menuItem .icon {
	width: 50px;
	height: 40px;
	display: inline-block;
}

#header .menuItem .name {
	display: inline-block;
	position: relative;
	bottom: 14px;
}

#header .menuItem.selected {
	border-bottom: 1px solid rgb(237, 27, 53);
}

#header .menuItem .icon.cloudcd {
	background: url(images/play/menu.png) center -40px no-repeat
}
#header .menuItem .icon.browse {
	background: url(images/play/menu.png) center -80px no-repeat
}
#header .menuItem .icon.youtube {
	background: url(images/play/menu.png) center -120px no-repeat
}

@media only screen and (min-width: 640px) { /* tablet */
	#header .menu {
		display: none;
	}
	#header .menuItem {
		left: 230px;
	}
	.player .menu {
		left: 0px !important;
    	right: auto !important;
	}
}

.popup.user {
	width: 255px;
	right: 0px;
	left: auto!important;
	top: 44px !important;
	z-index: 1001;
}

.popup.user .arrow {
	width:0px;
	height:0px;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-bottom:10px solid rgb(241, 241, 241);
	position: absolute;
	top: 1px;
	right: 14px;
	z-index: 1001;
}

.popup.user .underarrow {
	width: 0px;
	height: 0px;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 11px solid rgba(0, 0, 0, 0.2);
	position: absolute;
	top: -0px;
	right: 13px;
	z-index: 1000;
}

.popup.user .wrapper {
	padding: 5px;
	background-color: rgb(241, 241, 241);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 3px 0px 3px 3px;
	height: 210px;
	margin-top: 10px;
}

.popup.user .schedule {
	float:	left;
	padding: 5px 0px 0px 5px;
	width: calc(100% - 10px);
	border-bottom: 1px solid #e0e0e0;
}

.popup.user .schedule .action {
	display: block;
	height: 40px;
	padding: 5px 0px;
}

.popup.user .schedule .action .icon {
	width: 32px;
	height: 40px;
	display: inline-block;
	background: url("images/user_menu.png") no-repeat center 0px transparent;
	float: left;
}

.popup.user .schedule .action .name {
	display: inline-block;
	padding: 0px 10px;
   	position: relative;
	top: 10px;
}

.popup.user .schedule .action .option {
	display: inline-block;
	position: relative;
	top: 10px;
	width: 100px;
	float: right;
    height: 28px;
}

.popup.user .schedule .dateTime {
	display: block;
	height: 50px;
	width: 100%;
	padding: 5px 0px;
	width: 100%;
}

.popup.user .schedule .dateTime .dateBox {
	width: 70px;
	display: inline-block;
	height: 30px;
	float: left;
	position: relative;
	top: 7px;
}

.popup.user .schedule .dateTime .timePickerWrapper {
	padding: 2px 2px!important;
	display: inline-block;
	top: 5px;
	position: relative;
}

.popup.user .schedule .dateTime .timePicker input.timePickerEntry{
	width: 25px!important;
	height: 30px;
}

.popup.user .schedule .dateTime .timePicker .timePickerEntry{
	width: 4px!important;
	text-align: center!important;
}

.popup.user .schedule .dateTime .timePicker .timePicker {
	font-size: 14px!important;
	font-weight: normal!important;
	vertical-align: top;
	width: 20px!important;
}

.popup.user .schedule .dateTime .timePicker .timePickerWrapper

.dateBoxPopup {
	z-index: 1002;
}

.timePickerEntry, .timePickerEntry {
	font-size: 13px!important;
	font-weight: normal!important;	
}

.gwt-ToggleButton-up, .gwt-ToggleButton-up-hovering, .gwt-ToggleButton-up-disabled {
    padding: 0px!important;
    border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(160, 160, 160)!important;
   border: 1px solid #e0e0e0 !important;
    border-radius: 1px!important;
    height: 30px;
	width: 25px;
	background: none !important;
}

.gwt-ToggleButton-down, .gwt-ToggleButton-down-hovering, .gwt-ToggleButton-down-disabled {
	padding: 0px!important;
	border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(160, 160, 160)!important;
    border: 1px solid #e0e0e0 !important;
    border-radius: 1px!important;
    height: 30px;
	width: 25px;
	background: none !important;
}


.popup.user .schedule .dateTime .save {
    display: inline-block;
    background: url("images/user_menu.png") no-repeat center -75px transparent;
    width: 40px; height: 40px;
    float: right;
}

.popup.user .languages{
	float:	left;
	height: 40px;
	paddin: 5px 0px;
}

.popup.user .languages .vn {
	float:	left;
	width: 50%;
	display: inline-block;
}

.popup.user .languages .vn .vnFlag{
	width: 40px;
	height: 40px;	
	display: inline-block;
	background: url(images/user_menu.png) center -160px no-repeat;
	float: left;
}

.popup.user .languages .vn .vnName{
	text-align: left;
	padding-left: 10px;
	display: inline-block;
	top: 10px;
	position: relative;
}

.popup.user .languages .en{
	float:	right;
	width: 50%;
	display: inline-block;
}

.popup.user .languages .vnFlag:hover, .popup.user .languages .enFlag:hover{
	cursor: pointer;
}

.popup.user .logout {
	height: 50px;
	padding: 5px 0px;
	border-bottom: 1px solid #e0e0e0;
}

.popup.user .logout .btnLogout{
    display: inline-block;
    float: left;
   	background: url("images/user_menu.png") no-repeat center -40px transparent;
    width: 40px;
    height: 40px;
}

.popup.user .logout .logoutName{
	padding-left: 10px;
	display: inline-block;
	position: relative;
	top: 14px;
}

.popup.user .logout:hover {
	display: block;
}

.popup.user .languages {
	height: 50px;
	padding: 5px 0px;
	width: 100%;
	border-bottom: 1px solid #e0e0e0;
}

.popup.user .languages .en .enFlag{
	width: 40px;
	height: 40px;
	display: inline-block;
	background: url(images/user_menu.png) center -120px no-repeat;
	float: left;
}

.popup.user .languages .en .enName{
	display: inline-block;
	position: relative;
	top: 10px;
	padding-left: 5px;
}